<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBd53BJdnivybMldLz57cVGVSfPvK_Y1I</string>
	<key>GCM_SENDER_ID</key>
	<string>880987549266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ete.ARK</string>
	<key>PROJECT_ID</key>
	<string>ark-db-storage</string>
	<key>STORAGE_BUCKET</key>
	<string>ark-db-storage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880987549266:ios:23945474c1f82a6d78b98b</string>
</dict>
</plist>